/* static/styles.css */
body {
    background-color: #f9f9f9;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin-top: 40px;
}

input[type="number"], input[type="text"] {
    text-align: left;
}
